body {
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

fieldset {
	padding: 1em;
	border: 1px solid #CCC;
	background: #f8f8f8;
	margin: 1em 0;
}

legend {
	font-weight: bold;
}

label {
	display: block;
	cursor: pointer;
}

input /* input[type=text] é novo, então não são todos os navegadores que irão funcionar corretamente com este seletor de atributos*/ {
	width: 20em;
}

textarea {
	width: 20em;
	height: 10em;
}

input.radio,
input.checkbox,
input.submit {
	width: auto;
}

.radio {
	margin-right: 1em;
}